*{
    box-sizing: border-box;
}

header{
    background-color: #CF2B2B;
    height: 92px;
    width:100%;

    position:fixed;
    top: 0px;
	right: 0px;

    z-index: 1;

    padding-left: 10px;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    
   
}

header h1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size:44px;
    line-height: 55px;
    color: #FFFFFF;
}

header h2{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:18px;
    line-height: 21px;
    color: #FFFFFF;
}

main{
    background-color: #E5E5E5;
    width: 100%;
    padding-top: 139px;

    margin-bottom: 120px;
}

main h1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size:26px;
    line-height: 32px;
    color: #333333;

    padding-left: 20px;

    
}



section{
    /*background-color: pink;*/
    width: 100%;
    margin-bottom: 30px;
    
    
}

.comida{
    display: flex;

    overflow-x: scroll;
}

.produto{
    min-width: 172px;
    /*height: 250px;*/
    border-radius: 9px;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    
}

.produto img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin:18px 14px;
    padding-right: 10px;
}

.produto h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    width:170px;

    color: #333333;
}

.produto h3{
    width:160px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #A6A6A6;

    padding-left: 15px;
    margin-bottom: 5px;

}

.produto p{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    padding-left: 15px;
    padding-bottom: 15px;

    /*bottom: 0px;*/

    color: #000000;
}


footer{
    background-color: #FFFFFF;
    width: 100%;
    height: 92px;
    
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;

    padding-left: 80px;
    padding-right: 80px;

}

footer button {
   
    width: 364px;
    height: 61px;
    background-color:  #CBCBCB;
    border-radius: 50px;
}

.iniciar{
    text-align: justify;
}

.selecionar{
    background-color: #32B72F;
    text-align: center;

}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.selecionadoSalgado{
   border: 5px solid #32B72F;
}

.selecionadoBebida{
    border: 5px solid #32B72F;
 }

 .selecionadoDoce{
    border: 5px solid #32B72F;
 }

.selecionadoSalgado ion-icon{
    color: #32B72F;
    position: absolute;
    right:10px;
    bottom: 15px;
    font-size: 20px;
}

.selecionadoBebida ion-icon{
    color: #32B72F;
    position: absolute;
    right:10px;
    bottom: 15px;
    font-size: 20px;
}

.selecionadoDoce ion-icon{
    color: #32B72F;
    position: absolute;
    right:10px;
    bottom: 15px;
    font-size: 20px;
}

.desativar ion-icon{
    display: none;
}

.confirmacao{
    position: fixed;

    width:377px;
    height: 353px;

    top:50%;
    left:50%;
    z-index: 1;

    margin-top: -190px;
    margin-left: -190px;

    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

    display: flex;
    flex-direction: column;

    gap: 13px;
    padding: 20px;
    
}

.confirmacao h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    
    color: #FFFFFF;
    font-weight: 700;

}

.confirmacao p {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    
    
    color: #FFFFFF;
    font-weight: 400;
}

.dadoTotal p,
.dadoTotal span{
    font-weight: 700;
}

.confirmacao div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.confirmacao button{
    width: 329px;
    height: 52px;

    border-radius: 100px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 26px;
    text-align: center;
}

.tudoCerto{
    border-radius: 100px;
    background-color: #FFFFFF;
    color: #50D074;
    font-size: 22px;
}

.Cancelar{
    background-color: #50D074;
    color:#FFFFFF;
    border: none;
    font-size: 20px;
}

.escondido{
    display:none;
}

.opacidade{
    opacity: 0.2;
}

